@charset "utf-8";

@import "style.css"/*tpa=https://beyondin.com/Public/Css/front/style.css*/;

/*common*/
.pos-f{position:fixed;}
.pad-lr-10{padding-left:10px; padding-right:10px;}
.pad-tb-35{padding-top:35px; padding-bottom:35px;}
.pad-t-60{padding-top:60px;}
.pad-b-40{padding-bottom:40px;}
.pad-b-5{padding-bottom:5px;}
.fl-l{float:left;}
.fl-r{float:right;}
.f-tal{text-align:left;}
.f-tac{text-align:center;}
.f-tar{text-align:right;}
.fs-12{font-size:12px;}
.fs-14{font-size:14px;}
.fs-18{font-size:18px;}
.fs-24{font-size:24px;}
.col-333{color:#333;}
.col-666{color:#666;}
.col-b9b9b9{color:#b9b9b9;}
.col-079b95{color:#079b95;}
.dis-ib{display:inline-block;}

/*animate*/
/*透明显示动画*/
@-moz-keyframes _opacity{
	0%{opacity:0; -webkit-transform:rotateY(0deg);}
	30%{opacity:1; -webkit-transform:rotateY(180deg);}
	70%{opacity:0.1; -webkit-transform:rotateY(360deg);}	
	100%{opacity:1; -webkit-transform:rotateY(360deg);}
}
@-webkit-keyframes _opacity{
	0%{opacity:0; -webkit-transform:rotateY(0deg);}
	30%{opacity:1; -webkit-transform:rotateY(180deg);}
	70%{opacity:0.1; -webkit-transform:rotateY(360deg);}	
	100%{opacity:1; -webkit-transform:rotateY(360deg);}
}

@-moz-keyframes _rotate{
	0%{-webkit-transform:rotateY(0deg);}
	100%{-webkit-transform: rotateY(360deg);}
}
@-webkit-keyframes _rotate{
	0%{-webkit-transform:rotateY(0deg);}
	100%{-webkit-transform: rotateY(360deg);}
}

.component-caselist-content{width:100%; height:inherit;}
.component-caselist-text{position:fixed; width:35%; padding:50px 0;font:14px/24px 'microsoft yahei'; color:#666;border-right:1px solid #d2d2d2;z-index: 99;}
.component-caselist-info{padding:0 25px; }
.component-caselist-info h3{ margin-bottom:15px; font-size:18px; font-weight:bold;}
.component-caselist-info h3:first-letter{border-bottom:2px solid #5a5a5a;}
.component-caselist-data{margin-top:10px; margin-bottom:10px; font-weight:normal;}
.component-caselist-info h4{color: #bbbbbb;font-size: 16px;font-weight: normal;}
.component-caselist-info .tips{font-size: 14px;color: #bbbbbb;margin-bottom: 10px;}
.component-caselist-info .qrcode>div{width: 140px;text-align:center;display: inline-block;vertical-align: top;font-size: 14px;}
.component-caselist-info .qrcode>div:first-child{margin-right: 30px;}
.component-caselist-info .qrcode>div img{width: 100%;}
.more{margin:20px 0;}
.more-list{padding: 0 20px;}
.more-list li{float: left;margin-right: 20px;width: 70px;}
.more-list li a{display: block;text-align: center;overflow: hidden;}
.more-list li a p{color: #c7c7c7;}
.component-caselist-info>ul>li>a:hover{-webkit-transition-duration: .1s;transition-duration: .1s;text-shadow:0 0 8px #333;color:#fff;}
.component-caselist-info>ul>li>a:hover strong{border-top:2px solid #d70a30;text-shadow:0 0 8px #999;}
.component-caselist-img{width:65%;min-height: 100%; padding:75px 0; vertical-align:middle; text-align:center; position: relative;box-sizing:border-box;}
.ai-caselist-pic{padding:0 50px;}
.ai-caselist-pic img{width:100%; vertical-align:top; }
/*.component-caselist-img span{-webkit-animation:_opacity 2.5s ease-out;}*/
.component-caselist-img .pc-img{display:block;}
.component-caselist-img .pad-img{display:none;}
.component-caselist-img .phone-img{display:none;}
.component-caselist-back{display:block; position:relative;width:70px; height:70px; margin:40px 25px 0; border-radius:35px; background:#232323; font:700 14px/70px 'microsoft yahei'; color:#fff; text-align:center;}
.component-caselist-back span{display:inline-block; margin-left:10px;}
.component-caselist-back .ico-back{font-family:"font-icons"; position:absolute; width:10px; text-align:center; font-size:10px; height:10px; line-height:10px;left:10px; top:50%; margin-top:-5px; cursor:pointer; color:#fff; font-weight:bold;  display:block;}
.component-caselist-back .ico-back:before {content:"\e60e";}
.component-caselist-back:hover{-moz-animation:_rotate 1s ease-out; -webkit-animation:_rotate 1s ease-out;}
.ai-caselist-img{position:relative; margin:0 50px;}
.pc-img img {vertical-align:top;}
.ai-caselist-btnPrev, .ai-caselist-btnNext{opacity: 0.5; position:absolute; top:0; margin-top:0px; width:47px; height:auto; background:#c7c7c7; font:46px/25px "font-icons"; color:#fff;  text-align:center;padding:47px 0;}
.ai-caselist-btnPrev{position: absolute;float: left;border-top-right-radius:4px;border-bottom-right-radius:4px;left: 0;}
.ai-caselist-btnNext{position: absolute;float: right;border-top-left-radius:4px;border-bottom-left-radius:4px;right: 0;}
.ai-caselist-btnPrev:before {content:"\e60e";}
.ai-caselist-btnNext:before {content:"\e60f";}
.ai-caselist-btnPrev:hover, .ai-caselist-btnNext:hover{background:#000; color:#fff;}
.ai-caselist-img:hover a{display:block;}

/*about.html*/
.ai-pagebanner{position:absolute; left:50%; top:0; margin-left:-1000px; }
.ai-bannerarrow{padding-bottom:60px; background:#fff url("../../Images/front/arrow.png")/*tpa=https://beyondin.com/Public/Images/front/arrow.png*/ no-repeat center bottom;}
.ai-banner2000{display:block;}
.ai-banner1280{display:none;}
.ai-banner1024{display:none;}
.ai-about-info{font-size:16px; line-height:40px; text-align:center; color:#494949;}
.ai-about-info strong{font-size:20px;}
.ai-about-photo{background-color:#bdc1c4;}
.ai-about-structure{width:100%; height:870px; background:url("../../Images/front/bg01.png")/*tpa=https://beyondin.com/Public/Images/front/bg01.png*/ repeat-x 0 0;}
.ai-about-structureText{display:block; width:112px; height:41px; margin:0 auto; padding:90px 0 35px; background:url("../../Images/front/text02.png")/*tpa=https://beyondin.com/Public/Images/front/text02.png*/ no-repeat 0 90px;}
.ai-about-structureChart{display:block; width:1187px; height:566px; margin:0 auto; background:url("../../Images/front/organizationchart.png")/*tpa=https://beyondin.com/Public/Images/front/organizationchart.png*/ no-repeat 0 0;}
.ai-about-intro{width:100%; height:367px; background:#141e2b url("../../Images/front/bg02.png")/*tpa=https://beyondin.com/Public/Images/front/bg02.png*/ no-repeat center 0; text-align:center;}
.ai-about-intro h3{padding-top:85px; padding-bottom:35px; font-size:30px; color:#fff;}
.ai-about-intro h3 span{padding-bottom:10px; border-bottom:1px solid #21262f;}
.ai-about-intro h3 strong{padding-bottom:5px; border-bottom:2px solid #21262f;}
.ai-about-intro h4{padding-bottom:10px; font-size:18px; font-weight:bold; color:#fff;}
.ai-about-intro p{font-size:12px; line-height:32px; color:#C5C5C5;}
.ai-contact-phone{padding-top:60px; padding-bottom:40px; text-align:center;}
.ai-contact-phoneIco{display:inline-block; width:90px; height:90px; border-radius:45px; background:#e33f4a; font-size:36px; line-height:90px;font-family:"font-icons"; text-align:center; color:#fff; cursor:pointer;}
.ai-contact-phoneIco:before {content:"\e60e";}
.ai-contact-phone strong{display:block; padding-top:24px; font-size:12px; color:#313131}

.gridster ul {background-color:#EFEFEF;}
.gridster li {font-size:1em; font-weight:bold; text-align:center; line-height:100%; background-color:#fcc;}
.gridster li img{width:100%; height:100%;}
.imgAnimate{-moz-animation:_opacity 3.5s ease-out;-webkit-animation:_opacity 3.5s ease-out;}
.gridster {margin:0 auto; }
.gridster .gs-w{background:#DDD;}
.gridster .player {background:#BBB;}
.gridster .preview-holder {border: none!important; background: red!important;}

/*virtual*/
.pagebanner-height{height:543px;}
.ai-pagetips{height:240px; background:#06cec6 url("../../Images/front/virtual/virtual-pic01.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-pic01.png*/ no-repeat center center;}
.ai-virtual-solutiontil, .ai-virtual-videotil, .ai-virtual-featuretil{display:block; height:64px;}
.ai-virtual-solution{height:745px; background:url("../../Images/front/virtual/virtual-bg01@2000.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-bg01@2000.png*/ no-repeat center 50px; background-size:100% 100%; font:14px/24px 'microsoft yahei'; color:#6f6f6f; text-align:center;}
.ai-virtual-solutiontil{ padding-top:75px; padding-bottom:30px; background:url("../../Images/front/virtual/virtual-text01.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-text01.png*/ no-repeat center 75px;}
.ai-virtual-solutionico{background:url("../../Images/front/virtual/virtual-bg03.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-bg03.png*/ no-repeat center 10px;}
.ai-virtual-video{height:768px; background:url("../../Images/front/virtual/virtual-bg02.jpg")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-bg02.jpg*/ no-repeat center center;}
.ai-virtual-videotil{ padding-top:50px; padding-bottom:45px; background:url("../../Images/front/virtual/virtual-text02.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-text02.png*/ no-repeat center 50px;}
.ai-virtual-videocon{width:930px; height:550px; margin:0 auto;}
.ai-virtual-feature{height:670px;}
.ai-virtual-featuretil{padding-top:65px; padding-bottom:115px; background:url("../../Images/front/virtual/virtual-text03.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-text03.png*/ no-repeat center 65px;}
.ai-virtual-featurecon{position:relative; width:35%; height:285px; border:1px dashed #c7c7c7; margin:0 auto;}
.ai-virtual-featurepic{position:absolute; top:50%; left:50%; width:353px; height:400px; margin-top:-200px; margin-left:-176px; background:url("../../Images/front/virtual/virtual-pic02.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-pic02.png*/ no-repeat 0 0;}
.ai-virtual-featuretext{position:absolute; width:58.5%; font:12px/20px 'microsoft yahei'; color:#434343;}
.ai-virtual-featuretext.pos1{top:20px; left:-61.5%;}
.ai-virtual-featuretext.pos2{top:130px; left:-61.5%;}
.ai-virtual-featuretext.pos3{top:235px; left:-61.5%;}
.ai-virtual-featuretext.pos4{top:20px; right:-61.5%;}
.ai-virtual-featuretext.pos5{top:130px; right:-61.5%;}
.ai-virtual-featuretext.pos6{top:235px; right:-61.5%;}

.ai-virtual-featureline{position:absolute; top:-15px; width:13px; height:3px; background:#25c7bf;}
.ai-virtual-featureline.posr{right:0;}
.ai-virtual-featureline.posl{left:0;}
.ai-virtual-case{height:725px; background:#2d2d2d url("../../Images/front/virtual/virtual-bg04.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-bg04.png*/ no-repeat 0 -32px; background-size:43.5% 32%}
.ai-virtual-casecon{position:relative; width:1200px; height:100%; margin:0 auto;}
/*.ai-virtual-casetil{position:absolute; top:170px; left:10px; width:242px; height:68px; background:url(/Public/Images/front/virtual/virtual-text04.png) no-repeat 0 0;}
.imgcircle{display:block; width:100px; height:100px; border:2px solid #fff; border-radius:50px;  background:url(/Public/Images/front/temp/pic3.jpg) no-repeat 0 0; background-size:100% 100%;}
*/
.ai-virtual-casetil{position:absolute; top:170px; left:10px; padding-left:242px; height:68px; background:url("../../Images/front/virtual/virtual-text04.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-text04.png*/ no-repeat 0 0; z-index:10;}

/*.imgcircle{display:block; width:100px; height:100px; border:2px solid #fff; border-radius:50px;  background:url(/Public/Images/front/temp/pic3.jpg) no-repeat 0 0; background-size:100% 100%;}*/
.ai-virtual-frame{position:relative; width:100%; height:100%; overflow:hidden;}
.ai-virtual-frame ul{height:100%;}
.ai-virtual-caselist{position:relative; width:1200px; height:100%; float:left;}
.ai-virtual-caselistpic{display:block; position:absolute; top:90px; right:-10px; width:702px; height:518px; background:url("../../Images/front/virtual/virtual-pic03.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/virtual-pic03.png*/ no-repeat 0 0; }
.ai-virtual-caselisttex{position:absolute; top:290px; left:10px; width:490px; font:12px/22px 'microsoft yahei'; color:#bebebe; }
.ai-virtual-caselisttex h3{padding-bottom:20px; font-size:18px; font-weight:normal; color:#07cec5;}
.ai-virtual-caselisttex p{position:relative; padding-left:30px;}
.ai-virtual-caselisttex p .serial{position:absolute; left:4px; top:8px; width:22px; height:24px; border-top:2px solid #feda5c; font-size:12px; font-weight:bold; color:#4d4732; text-indent:12px;}
.ai-virtual-caseslidebtn {position:absolute; left:0; bottom:45px; width:100%; height:20px; text-align:center; z-index:100;}
.ai-virtual-caseslidebtn li {display:inline-block; width:20px; height:20px; margin:0 16px; border-radius:10px; background:#3d3d3d; cursor:pointer; letter-spacing:normal; text-indent:-9999px;}
.ai-virtual-caseslidebtn li.active {background:#079b95;}

.not-active .ai-virtual-caselisttex, .not-active .ai-virtual-caselistpic{display:none;}
.active .ai-virtual-caselisttex, .active .ai-virtual-caselistpic{display:block;}

.vircase1.active .ai-virtual-caselisttex{
	-webkit-animation: vircasetext 1s ease-out;
}
.vircase1.active .ai-virtual-caselistpicwrap{
	-webkit-animation: vircasepic 1.5s ease;
}

.vircase2.active .ai-virtual-caselisttex{
	-webkit-animation: vircasetext 1s ease-out;
}
.vircase2.active .ai-virtual-caselistpicwrap{
	-webkit-animation: vircasepic 1.5s ease;
}


.vircase3.active .ai-virtual-caselisttex{
	-webkit-animation: vircasetext 1s ease-out;
}
.vircase3.active .ai-virtual-caselistpicwrap{
	-webkit-animation: vircasepic 1.5s ease;
}

@-webkit-keyframes vircasetext {
	from { opacity: 0; -webkit-transform: translate3d(50px,0,0); transform: translate3d(50px,0,0);}
	to { opacity: 1 ; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0);}
}

@-webkit-keyframes vircasepic {
	from { opacity: 0;}
	to { opacity: 1;}
}

/*about banner*/
.ai-pagebanner-about{
	width:100%;	height:670px;
	background:url("../../Images/front/biggest-banner-bg.jpg")/*tpa=https://beyondin.com/Public/Images/front/biggest-banner-bg.jpg*/;
	-webkit-background-size:auto 100%;
	background-size:auto 100%;
}
.pagebanner-about-pic{position:absolute; top:130px; left:50%; width:980px; height:280px; margin-left:-490px;}
.aboutbanner-pic{position:absolute; top:140px; width:140px; height:140px; background-repeat:no-repeat; background-size:100% 100%; }
.aboutbanner-pic.img1{top:0; left:420px; background-image:url("../../Images/front/aboutbanner-pic1.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic1.jpg*/;}
.aboutbanner-pic.img2{left:0px;background-image:url("../../Images/front/aboutbanner-pic2.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic2.jpg*/;}
.aboutbanner-pic.img3{left:140px;background-image:url("../../Images/front/aboutbanner-pic3.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic3.jpg*/;}
.aboutbanner-pic.img4{left:280px;background-image:url("../../Images/front/aboutbanner-pic4.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic4.jpg*/;}
.aboutbanner-pic.img5{left:420px;background-image:url("../../Images/front/aboutbanner-pic5.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic5.jpg*/;}
.aboutbanner-pic.img6{left:560px;background-image:url("../../Images/front/aboutbanner-pic6.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic6.jpg*/;}
.aboutbanner-pic.img7{left:700px;background-image:url("../../Images/front/aboutbanner-pic7.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic7.jpg*/;}
.aboutbanner-pic.img8{left:840px;background-image:url("../../Images/front/aboutbanner-pic8.jpg")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic8.jpg*/;}

.pagebanner-about-con{position:absolute; bottom:130px; left:50%; width:700px; height:130px; margin-left:-350px; text-align:right; font-family:'microsoft yahei'; color:#fff;}
.pagebanner-about-text{position:absolute; top:40px; width:535px; line-height:36px;}
.pagebanner-about-text h3{font-size:24px; font-weight:normal;}
.pagebanner-about-text h4{font-size:18px; font-weight:normal;}
.pagebanner-about-ico{position:absolute; top:25px; right:15px; width:100px; height:91px; background:url("../../Images/front/aboutbanner-pic.png")/*tpa=https://beyondin.com/Public/Images/front/aboutbanner-pic.png*/ no-repeat 0 0; background-size:100% 100%; }

.aboutbanner-pic.img1{-webkit-animation:aboutPic1 0.5s ease-out;}
.aboutbanner-pic.img2{-webkit-animation:aboutPic2 1.0s ease-out 0.4s backwards;}
.aboutbanner-pic.img3{-webkit-animation:aboutPic3 0.8s ease-out 0.8s backwards;}
.aboutbanner-pic.img4{-webkit-animation:aboutPic4 0.6s ease-out 1.2s backwards;}
.aboutbanner-pic.img5{-webkit-animation:aboutPic5 0.4s ease-out 1.6s backwards;}
.aboutbanner-pic.img6{-webkit-animation:aboutPic6 0.6s ease-out 2.0s backwards;}
.aboutbanner-pic.img7{-webkit-animation:aboutPic7 0.8s ease-out 2.4s backwards;}
.aboutbanner-pic.img8{-webkit-animation:aboutPic8 1.0s ease-out 2.8s backwards;}

.pagebanner-about-text h3{-webkit-animation:aboutText2 0.8s linear 3.8s backwards;}
.pagebanner-about-text h4{-webkit-animation:aboutText2 0.8s linear 3.8s backwards;}
.pagebanner-about-ico{-webkit-animation:aboutIco 0.4s ease-out 4s backwards;}


@-webkit-keyframes aboutText1 {
	20% {-webkit-transform: rotate3d(0, 0, 1, 15deg); transform: rotate3d(0, 0, 1, 15deg); }
	40% {-webkit-transform: rotate3d(0, 0, 1, -10deg); transform: rotate3d(0, 0, 1, -10deg); }
	60% {-webkit-transform: rotate3d(0, 0, 1, 5deg); transform: rotate3d(0, 0, 1, 5deg); }
	80% {-webkit-transform: rotate3d(0, 0, 1, -5deg); transform: rotate3d(0, 0, 1, -5deg);}
	100% {-webkit-transform: rotate3d(0, 0, 1, 0deg); transform: rotate3d(0, 0, 1, 0deg); }
}

@-webkit-keyframes aboutText2{
	from {opacity:0; -webkit-transform:translate3d(0,50px,0px);}
	to {opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutIco{
	from {opacity:0; -webkit-transform:rotate(-30deg); -webkit-transform-origin:0% 0%;}
	to {opacity:1; -webkit-transform:rotate(0deg); -webkit-transform-origin:0% 0%;}
}


@-webkit-keyframes aboutPic1 {
	from { opacity:0;-webkit-transform:scale(0,0); }
	to { opacity:1;-webkit-transform:scale(1,1);}
}
@-webkit-keyframes aboutPic2 {
	from { opacity:0; -webkit-transform:translate3d(420px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutPic3 {
	from { opacity:0; -webkit-transform:translate3d(280px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutPic4 {
	from { opacity:0; -webkit-transform:translate3d(140px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutPic5 {
	from { opacity:0; -webkit-transform:translate3d(0px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutPic6 {
	from { opacity:0; -webkit-transform:translate3d(-140px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutPic7 {
	from { opacity:0; -webkit-transform:translate3d(-280px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes aboutPic8 {
	from { opacity:0; -webkit-transform:translate3d(-420px,-140px,0px);}
	to { opacity:1; -webkit-transform:translate3d(0,0,0);}
}


/*virtual 3D banner*/
.ai-pagebanner-3D{	
	width:100%;	height:543px;
	background:url("../../Images/front/virtual/banner3D-bg.jpg")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-bg.jpg*/ no-repeat center 0;
	-webkit-background-size:auto 100%;
	background-size:auto 100%;
}

.virtualbanner-ani{position:absolute; top:65px; left:50%; width:1200px; height:420px; margin-left:-600px; z-index:1;}

.virtualbanner-pic{position:absolute; top:0; left:0; width:690px; height:420px; z-index:3;}
.virtualbanner-pic0{position:absolute; bottom:-30px; right:5px; width:100px; height:79px; background:url("../../Images/front/virtual/banner3D-pic0.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic0.png*/; background-size:100% 100%; z-index:20;}
.virtualbanner-pic1{position:absolute; top:-130px; left:-435px; width:1835px; height:684px; background:url("../../Images/front/virtual/banner3D-pic1.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic1.png*/ no-repeat 0 0; background-size:100% 100%; z-index:10; }
.virtualbanner-pic2{position:absolute; top:32px; right:10px; width:273px; height:36px; background:url("../../Images/front/virtual/banner3D-pic2.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic2.png*/ no-repeat 0 0; background-size:100% 100%; z-index:30; }
.virtualbanner-pic3{position:absolute; top:153px; right:-53px; width:191px; height:87px; background:url("../../Images/front/virtual/banner3D-pic3.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic3.png*/ no-repeat 0 0; background-size:100% 100%; z-index:40; }
.virtualbanner-pic4{position:absolute; top:185px; right:0px; width:209px; height:156px; background:url("../../Images/front/virtual/banner3D-pic4.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic4.png*/ no-repeat 0 0; background-size:100% 100%; z-index:50; }
.virtualbanner-pic5{position:absolute; top:240px; right:171px; width:183px; height:119px; background:url("../../Images/front/virtual/banner3D-pic5.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic5.png*/ no-repeat 0 0; background-size:100% 100%; z-index:60; }
.virtualbanner-pic6{position:absolute; top:170px; left:-113px; width:184px; height:28px; background:url("../../Images/front/virtual/banner3D-pic6.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-pic6.png*/ no-repeat 0 0; background-size:100% 100%; z-index:70; }

.virtualbanner-text{position:absolute; top:80px; right:0; width:435px; height:255px; z-index:5;}
.virtualbanner-tex1{position:absolute; top:0; left:0; width:263px; height:204px; background:url("../../Images/front/virtual/banner3D-text1.png")/*tpa=https://beyondin.com/Public/Images/front/virtual/banner3D-text1.png*/ no-repeat 0 0; background-size:100% 100%; z-index:10px;}
.virtualbanner-tex2{position:absolute; top:108px; left:6px; font-size:56px; font-weight:bold; color:#2e9fa9; z-index:20;}
.virtualbanner-tex3{position:absolute; top:168px; right:0; border-top:1px dashed #c2d7da; font:bold 21px/16px 'Arial'; color:#d1e4e7; text-transform:uppercase; z-index:30;}
.virtualbanner-tex4{position:absolute; top:180px; left:6px; font-size:41px; color:#2e99a2; z-index:20; z-index:40;}
.virtualbanner-tex5{position:absolute; top:235px; left:6px; font-size:12px; color:#909697; z-index:20; z-index:40;}

.virtualbanner-pic0{-webkit-animation:virtualPic0 0.8s ease 0.2s backwards;}
.virtualbanner-pic1{-webkit-animation:virtualPic1 5.8s ease 0.2s backwards;}

.virtualbanner-pic2{-webkit-animation:virtualPic2 0.8s ease 3.0s backwards;}
.virtualbanner-pic3{-webkit-animation:virtualPic2 0.8s ease 3.4s backwards;}
.virtualbanner-pic4{-webkit-animation:virtualPic2 0.8s ease 3.8s backwards;}
.virtualbanner-pic5{-webkit-animation:virtualPic2 0.8s ease 4.2s backwards;}
.virtualbanner-pic6{-webkit-animation:virtualPic2 0.8s ease 4.6s backwards;}

.virtualbanner-tex1{-webkit-animation:virtualText1 0.5s ease-out;}
.virtualbanner-tex2{-webkit-animation:virtualText1 0.5s ease-out;}
.virtualbanner-tex3{-webkit-animation:virtualText2 0.5s ease-out 0.5s backwards;}
.virtualbanner-tex4{-webkit-animation:virtualText3 2s ease-out 1.2s backwards;}
.virtualbanner-tex5{-webkit-animation:virtualText2 0.5s ease-out 3s backwards;}

@-webkit-keyframes virtualPic0{
	from {opacity:0; -webkit-transform:translate3d(50px,50px,0px);}
	to {opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes virtualPic1{
	0%   {opacity:0;}
	100% {opacity:1;}
}
@-webkit-keyframes virtualPic2{
	0%   {opacity:0; -webkit-transform:scale(2,2);}
	100% {opacity:1; -webkit-transform:scale(1,1);}
}

@-webkit-keyframes virtualText1{	
	from { opacity:0;-webkit-transform:scale(0,0); }
	to { opacity:1;-webkit-transform:scale(1,1);}
}
@-webkit-keyframes virtualText2{
	from {opacity:0; -webkit-transform:translate3d(50px,0,0px);}
	to {opacity:1; -webkit-transform:translate3d(0,0,0);}
}
@-webkit-keyframes virtualText3{	
	0% { opacity:0;-webkit-transform:scale(0,0); }
	20% { opacity:1;-webkit-transform:scale(2,2);}
	40% { opacity:0.6;-webkit-transform:scale(1.5,1.5);}
	60% { opacity:1;-webkit-transform:scale(2,2);}
	100% { opacity:1;-webkit-transform:scale(1,1);}
}

.blackHome{display:inline-block;border-radius:45px;width:88px;height:88px;background:#e33f4a;font-size:12px;line-height:88px;text-align:center;color:#fff;}
.chart-phone{display:block;font-size:14px;color:#333;padding-top:20px;font-weight:bold;}
.ai-aboutText{display:none;}
.qrcode_case{
	width: 190px;
	height: 100%;
	vertical-align: middle;
}
/*案例-列表代码*/
.case_list_box{
	width: 100%;
	height: 50px;
	border-bottom: 1px solid #666;
}
.case_list_nav{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
}
.case_list_nav li{
	width: 200px;
	line-height: 48px;
	font-size: 15px;
	color: #6e6e6e;
	float: left;
	text-align: center;
	cursor: pointer;
}
.case_list_nav .case_active{
	color: #111111;
	border-bottom: 2px solid #111111;
}
/*案例banner图*/
.case_big_banner .img.on{
	display: block;
} 
.case_big_banner .img{
	display: none;
}
.case_big_banner img{
	width: 100%;
}
/*案例标签*/
.case_list_tags{
	margin: 40px 0;
}
.case_list_tags ul{
	padding-left: 50px;
	background: url("../../Images/front/icon_tag.png")/*tpa=https://beyondin.com/Public/Images/front/icon_tag.png*/ no-repeat 25px 10px;
}
.case_list_tags ul li{
	float: left;
	padding: 10px 25px;
}
.case_list_tags ul li a{
	color: #999;
}
/*案例列表*/
.case_list{
	margin-bottom: 20px;
}
.case_list .case_item{
	
}
.case_item{
	width: 323px;
	box-sizing: border-box;
	margin: 0 20px 40px 0;
	float: left;
	border: 1px solid #515151;
}
.case_item:nth-child(3n){
	margin-right: 0;
}
.case_item>a{
	display: block;
}
.case_item .pic{
	width: 100%;
	position: relative;
}
.case_item .pic .logo{
	position: absolute;
	width: 64px;
	height: 64px;
	bottom: 10%;
	left:50%;
	transform: translateX(-50%);
} 
.case_item .pic .logo img{
	width: 100%;
	height: 100%;
}
.case_item .pic .bg{
	width: 100%;
}
.case_item .info{
	padding: 20px 15px;
}
.case_item .title{
	color: #474747;
}
.case_item .desc{
	font-size: 15px;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
	color: #969696;
	margin-top: 10px;
	margin-bottom: 10px;
}
.case_item .tag{
	font-size: 14px;
	color: #b8b8b8;
	padding-left: 20px;
	background: url("../../Images/front/icon_tag_mini@2x.png")/*tpa=https://beyondin.com/Public/Images/front/icon_tag_mini@2x.png*/ no-repeat left center;
}


/*九宫格主体*/
.case_list_main{
	width: 1010px;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;
}

.case_margin{
	margin-right: 0;
}
#main_2,#main_3,#main_4,#main_5{
	display: none;
}
/*案例底部*/
.case_list_footer{
	width: 320px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.case_list_footer li{
	width: 28px;
	line-height: 28px;
	text-align: center;
	border-radius: 50%;
	border: 1px solid #00baec;
	color: #00BAEC;
	font-size: 15px;
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
.case_list_footer .case_footer_li{
	background: #00baec;
	color: #FFF;
}
