@charset "utf-8";

/* 视网膜显示屏CSS */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 2) {

@font-face {
	font-family: 'font-icons';
	src:url("../../font/font-icons.eot")/*tpa=https://beyondin.com/Public/font/font-icons.eot*/;
	src:url("../../font/font-icons.eot")/*tpa=https://beyondin.com/Public/font/font-icons.eot*/ format('embedded-opentype'),
		/* url('/Public/font/font-icons.svg') format('svg'),
		url('/Public/font/font-icons.woff') format('woff'), */
		url("../../font/font-icons.ttf")/*tpa=https://beyondin.com/Public/font/font-icons.ttf*/ format('truetype');
	font-weight: normal;
	font-style: normal;
}

.blog-page-toggle { background-image:url("../../Images/front/retina/pagebtn-1.gif")/*tpa=https://beyondin.com/Public/Images/front/retina/pagebtn-1.gif*/; background-size:80px; -webkit-background-size:80px;}
.ab5_chart_3 .inchart_1 { background-image:url("../../Images/front/index-image/biggest-banner-bg-5-item-1@2x.png")/*tpa=https://beyondin.com/Public/Images/front/index-image/biggest-banner-bg-5-item-1@2x.png*/;
	-webkit-background-size: 224px 110px;
	background-size: 224px 110px;
}
.ab5_chart_3 .inchart_2 { background-image:url("../../Images/front/index-image/biggest-banner-bg-5-item-2@2x.png")/*tpa=https://beyondin.com/Public/Images/front/index-image/biggest-banner-bg-5-item-2@2x.png*/;
	-webkit-background-size: 224px 110px;
	background-size: 224px 110px;
}

.ai-nav-list:before {
	background-image: url("../../Images/front/retina/min-side-bar-shadow.png")/*tpa=https://beyondin.com/Public/Images/front/retina/min-side-bar-shadow.png*/;
}



}
